Source: wb-zigbee2mqtt
Maintainer: Ian Ianin <ianin@wirenboard.ru>
Section: misc
Priority: optional
Standards-Version: 1.0.0
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-zigbee2mqtt
Architecture: all
Depends: ${misc:Depends}, wb-rules (>= 2.6.0) 
Description: zigbee2mqtt to Wiren Board MQTT Conventions bridge
